<h1>Post It Notes</h1>
<% @notes.each do |note| %>
  <%= note.title %>
  <ul>
 <li> <%= link_to 'Show Note', note_path(note.id) %></li>
  <li><%= link_to 'Edit Note', edit_note_path(note.id) %></li>
 <li> <%= link_to 'Delete Note', note, method: :delete %></li>
  </ul>
<% end %>

<%= link_to 'New Note', new_note_path %>
